# =========================
# Ignorar Entorno Virtual de Python (¡Los 486 archivos!)
# =========================
.venv/
Include/
Lib/
Scripts/
pyvenv.cfg

# =========================
# Ignorar Cachés
# =========================
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/

# =========================
# Archivos de Datos
# =========================
*.csv
*.png

# =========================
# EXCEPCIONES (Obligar a Git a leer estos archivos)
# =========================
!homework/homework.py
!homework.py
!files/output/summary.csv
!files/plots/top10_drivers.png
